@font-face {
  font-family: 'Dongle';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/dongle/v16/sJoG3Ltdjt6VPkqeEcxrYg.ttf) format('truetype');
}
@font-face {
  font-family: 'Dongle';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/dongle/v16/sJoF3Ltdjt6VPkqmvQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Dongle';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/dongle/v16/sJoG3Ltdjt6VPkqeActrYg.ttf) format('truetype');
}
